*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cobalt: hsl(234, 85%, 45%);
    --violet:hsla(256, 72%, 46%, 1);
    --branco:hsl(0, 0%, 100%);
}

body{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin: 100px;
}

.azul {
    background-color:#2e2be9;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.azul h2{
    font-size: 25px;
    text-transform: initial;
    color: var(--branco);
    margin: 30px auto;


}

.circle{
    background-color: #7857ff;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    padding: 35px;
}

.circle span{
    color: var(--branco);
    font-size: 50px;
}
.circle p{
color: var(--branco);
font-weight: 100;
}

.azul > span{
    color:var(--branco);
    font-size: 15px;
    margin: 20px auto;
}

.azul > p{
    color: var(--branco);
    font-size: 13px;
    text-align: center;

}

.branco{
    background-color: aquamarine;
    margin-left: 1px;
    border-radius: 30px;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    
}

.branco div{
    list-style: none;
    display: flex;
}