* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cobalt: hsl(234, 85%, 45%);
    --violet: hsla(256, 72%, 46%, 1);
    --branco: hsl(0, 0%, 100%);
    --fonte:

}

body {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin: 100px;
    font-family: 'Hanken Grotesk', sans-serif;
}

.azul {
    background-color: #2e2be9;
    width: 300px; 
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
}

.azul h2 {
    font-size: 20px;
    text-transform: initial;
    color:hsl(224, 30%, 78%);
    margin: 30px auto;
    text-transform: capitalize;
    font-weight: 100;


}

.circle {
    background-color: #7857ff;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    padding: 35px;
}

.circle span {
    color: var(--branco);
    font-size: 50px;
   
}

.circle p {
    color: hsl(224, 30%, 78%);
    font-weight: 100;
}

.azul>span {
    color: var(--branco);
    font-size: 25px;
    font-weight: bolder;
    margin: 20px auto 0px;
    text-transform: capitalize;
}

.azul>p {
    width: 185px;
    /* margin: 5px 50px; */
    color: hsl(224, 30%, 78%);
    font-size: 13px;
    text-align: center;
    text-transform: capitalize;

}

.branco {
    background-color: hsl(0, 0%, 100%);
    box-shadow: 3px 2px 1px rgba(0, 0, 0, 0.1);
    border-radius: 0px 30px 30px 10px;
    width: 300px; 
    height: 360px;
    display: flex;
    flex-direction: column;
    text-decoration: none;

}

.branco h2 {
    color: var(--branco);
    text-transform: capitalize;
    margin: 20px 0px 10px 15px;
    color: black;

}

.branco{
    padding: 10px;
}

.branco li{
    margin-left: 5px;
}

.branco div {
    display: flex;
    align-items: center;
   

    list-style: none;
    padding: 0 3px;
    border-radius: 10px;
    text-transform: capitalize;
    margin: 7px auto; 

    width: 250px;
}



.branco .numbers .num1 {
    margin-right: 3px;
    color: black;
    margin-left: 50px;
}

.branco .numbers .num2 {
    color: hsl(224, 30%, 50%)
}


.branco .reaction {
    background-color: hsl(0, 100%, 98%);
    justify-content: space-around;
}

.branco .reaction li {
    color: hsl(0, 100%, 67%);
    font-weight: 500;
  
}


.branco .memory {
    background-color: hsl(39, 100%, 98%);
    justify-content: space-between;

}

.branco .memory li {

    color: hsl(39, 100%, 56%);
    font-weight: 500;
 

}

.branco .verbal {
    background-color: hsl(166, 100%, 98%);
    justify-content: space-between;
}

.branco .verbal li {
    color: hsl(166, 100%, 37%);
    font-weight: 500;


}

.branco .visual {
    background-color: hsl(234, 85%, 98%);
    justify-content: space-between;
}

.branco .visual li {
    color: hsl(234, 85%, 45%);
    font-weight: 500;
  
}


.branco a {
    background-color: #2a2a30;
    text-decoration: none;
    margin-left: 40px;
    text-align: center;
    width: 200px;
    padding: 10px;
    border-radius: 30px;
    color: var(--branco);
    text-transform: capitalize;
    margin-top: 20px;
    font-size: 13px;
}




/* Media Query para largura de tela de até 320px */

@media screen and (max-width: 320px) {
    body {
        flex-wrap: wrap;
    }
    .azul{
        padding: 0 43px;
    }
  }
  